# Fichier requirements.txt final (v2)

# --- Framework Web ---
fastapi
gunicorn
uvicorn[standard]
python-multipart

# --- Librairies de Machine Learning (versions exactes de votre PC) ---
pandas==2.3.0
numpy==1.26.4
scikit-learn==1.5.1
imbalanced-learn
xgboost==3.0.0
shap==0.47.2
joblib
lightgbm==4.6.0
